.cardBox {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    border-radius: 10px;
    height: 80px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 80px; 
    font-weight: 500;
    font-size: large;
    width: 100%;
    cursor: pointer;
}