:root{
    --primary-bg: #28559A;
    --primary-color:  #ffffff;
    --col1: #150734;
    --col2: #0F2557;
    --col3: #28559A;
    --col4: #63BCE5;
}
.firstHeading{
    font-weight: bold;
    font-size: 2vw;
    text-transform: uppercase;
    color: black;
    border-bottom: var(--col1) double;
}
.secondHeading{
    font-weight: bold;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: var(--col1);
    border-bottom: 2px solid var(--col1);
}
.thirdHeading{
    font-weight: 400;
    font-size: 1vw;
    color: var(--col2);
}
.icon{
    max-width: 100%;
}
.title{
    font-weight: 500;
    font-size: 1.2vw;
    color: var(--col2);
}
.raw_product{
    background-color: var(--primary-bg);
    color: var(--primary-color);
    margin: 0px 10px;
    padding: 2px 10px;
    border-radius: 20px;
}
@media only screen and (max-width: 768px) {
    
}


@media only screen and (max-width: 576px) {
    
}